.joinOuterContainer {
	align-items: center;
	background-color: #1a1a1d;
	display: flex;
	height: 100vh;
	justify-content: center;
	text-align: center;
}
.joinInnerContainer {
	width: 20%;
}
.joinInput {
	border-radius: 0;
	box-sizing: border-box;
	padding: 15px 25px;
	width: 100%;
}
.mt-20 {
	margin-top: 20px;
}
.button {
	background-color: #2979ff;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}
.heading {
	border-bottom: 2px solid #fff;
	color: #fff;
	font-size: 2.5em;
	padding-bottom: 10px;
}
